body {
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.info {
    color: black;
    padding-left: 5%;
}

.main-container {
    text-align: justify;
    background-color: blue;
    width: 500px;
    margin-left: 3%;
    margin-top: 2%;
}

